---
http_interactions:
- request:
    method: get
    uri: https://api-content.dropbox.com/1/files/auto/test.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 08077Bd7g1oAAAAAAAAAE6pEDlbSw9Y3BupRgI_wWCX8u1x4MBT_tTfAk8exTlzg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Dropbox-Metadata:
      - ! '{"revision": 45, "rev": "2d244f0c5a", "thumb_exists": false, "bytes": 12,
        "modified": "Tue, 10 Jun 2014 13:52:00 +0000", "client_mtime": "Tue, 10 Jun
        2014 13:52:00 +0000", "path": "/test.txt", "is_dir": false, "icon": "page_white_text",
        "root": "app_folder", "mime_type": "text/plain", "size": "12 bytes"}'
      X-Server-Response-Time:
      - '232'
      Etag:
      - 45n
      X-Dropbox-Request-Id:
      - e6abc953d3c069a06d212b3ace96c19d
    body:
      encoding: US-ASCII
      string: file content
  recorded_at: Tue, 10 Jun 2014 13:52:02 GMT
recorded_with: VCR 2.9.2
