---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete
    body:
      encoding: US-ASCII
      string: root=auto&path=%2Ftest.txt
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer 08077Bd7g1oAAAAAAAAAE6pEDlbSw9Y3BupRgI_wWCX8u1x4MBT_tTfAk8exTlzg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '236'
      X-Dropbox-Request-Id:
      - 78791649313153937c6c67391a769e47
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: US-ASCII
      string: ! '{"is_deleted": true, "revision": 46, "rev": "2e244f0c5a", "thumb_exists":
        false, "bytes": 0, "modified": "Tue, 10 Jun 2014 13:53:17 +0000", "client_mtime":
        "Wed, 31 Dec 1969 23:59:59 +0000", "path": "/test.txt", "is_dir": false, "icon":
        "page_white_text", "root": "app_folder", "mime_type": "text/plain", "size":
        "0 bytes"}'
  recorded_at: Tue, 10 Jun 2014 13:53:18 GMT
recorded_with: VCR 2.9.2
