---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/auto/test.txt?overwrite=true
    body:
      encoding: US-ASCII
      string: file content
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - Bearer 08077Bd7g1oAAAAAAAAAE6pEDlbSw9Y3BupRgI_wWCX8u1x4MBT_tTfAk8exTlzg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '406'
      X-Dropbox-Request-Id:
      - 3d656898cf1d240000adfb977b510e77
    body:
      encoding: US-ASCII
      string: ! '{"revision": 45, "rev": "2d244f0c5a", "thumb_exists": false, "bytes":
        12, "modified": "Tue, 10 Jun 2014 13:52:00 +0000", "client_mtime": "Tue, 10
        Jun 2014 13:52:00 +0000", "path": "/test.txt", "is_dir": false, "icon": "page_white_text",
        "root": "app_folder", "mime_type": "text/plain", "size": "12 bytes"}'
  recorded_at: Tue, 10 Jun 2014 13:52:01 GMT
recorded_with: VCR 2.9.2
